{% extends "base.html" %}

import { Calendar } from '@fullcalendar/core';
import interactionPlugin from '@fullcalendar/interaction';



{% block head %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% endblock %}

{% block content %}


<div class="container">
  <div id="calendar"></div>
  <script>
  const sleep_color = 'black';
  const swim_color = 'light-blue';
  const journal_color = '#08088A';
  const weights_color = 'blue';
  const hike_color = 'green';


    let calendarEl = document.getElementById
    ('calendar');

    let calendar = new FullCalendar.Calendar(calendarEl, {
      events: [
      {% for event_obj in events %}
        {
      {% if event_obj.subclass == 'Oura' %}
        backgroundColor: sleep_color,
        borderColor: sleep_color,
        title: ' {{ event_obj.title }}' + ' {{ event_obj.score|round|int }}',
      {% if event_obj.title == 'Sleep' %}
        icon: "bed",
        {% elif event_obj.title == 'Readiness' %}
        icon: "bolt",
        {% endif %}

      {% else %}
       {% if event_obj.title == 'Weights' %}
            icon: "dumbbell",
        {% elif event_obj.title == 'Wellness' %}
            icon: "spa",
        {% elif event_obj.title == 'Swim' %}
            icon: "person-swimming",
        {% elif event_obj.title == 'Hike' %}
            icon: "person-hiking",
        {% endif %}
      title : ' {{ event_obj.title }}' + ' {{ event_obj.score }}',
      {% endif %}
      id: '{{ event_obj.day_id }}',
      start : '{{ event_obj.date }}',
      url: '{{ url_for('dashboard.log', page_id = event_obj.day_id) }}',



      {% if event_obj.title == 'Wellness' %}
      backgroundColor: journal_color,
      borderColor: journal_color,
      {% elif event_obj.title == 'Weights' %}
      backgroundColor: weights_color,
      borderColor: weights_color,
      {% elif event_obj.title == 'Swim' %}
      backgroundColor: swim_color,
      borderColor: swim_color,
      {% elif event_obj.title == 'Hike' %}
      backgroundColor: hike_color,
        borderColor: hike_color,
      {% endif %}
      },


      {% endfor %}
      ],

      eventDidMount: function(info) {
        console.log(info);
        var icon = info.event.extendedProps.icon;
          if (info.event.extendedProps.icon) {
              $(info.el).find('.fc-event-title').prepend("<i class='fa fa-" + icon + "'></i>");
          }
        },
      eventClick: function(info) {
        if (info.event.url) {
          window.open(info.event.url);
        }
      },
      dateClick: function(date) {
        var date_str = date.dateStr;
        var xhr = new XMLHttpRequest();
        $.ajax({
          data : {'date_str' : date_str},
          url : '{{url_for('calendar.process')}}',
          method : 'POST',
          cache: false,
          xhr: function(){
            return xhr;
          }
        }).done (function(response){
          document.write(response)
          window.history.pushState(undefined, '', xhr.responseURL)
        })
      }
    });
  calendar.render();
  </script>
</div>
{% endblock %}
