{% extends "base.html" %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <table cellspacing="100">
        {% for field in form.exercise_params %}
        <tr>
            <td>{{ field.excs.label(class="form-label") }}</td>
            <td>{{ field.excs()}}</td>
            <td>{{ field.sets.label(class="form-label") }}</td>
            <td>{{ field.sets()}}</td>
            <td>{{ field.reps1.label(class="form-label") }}</td>
            <td>{{ field.reps1()}}</td>
            <td>{{ field.reps2.label(class="form-label") }}</td>
            <td>{{ field.reps2()}}</td>
        </tr>
        {% endfor %}
    </table><br>
    {{ form.submit(class="btn btn-secondary") }}

</form>
{% endblock %}
