{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/weights.css') }}">
{% endblock %}

{% block content %}

<div class="container create-template">

<form method="POST">
    {{ form.hidden_tag() }}
        {% for field in form.exercise_params %}
        <div class="row">
            <div class="col-md-4">
                {{ field.excs.label(class="form-label") }}<br>
                {{ field.excs()}}
            </div>

            <div class="col-md-3">
                {{ field.sets.label(class="form-label") }}<br>
                {{ field.sets()}}
            </div>

            <div class="col-md-3">
                Rep Range: <br>
                {{ field.reps1()}} - {{ field.reps2()}}
            </div>
        </div><br><hr><br>
        {% endfor %}
        <br>
    {{ form.submit(class="btn btn-secondary") }}

</form>
</div>
{% endblock %}
