{% extends "base.html" %}
{% block head %}
<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<style>
    body {
        font-family: Sans-Serif;
    }
</style>

{% endblock %}

{% block content %}

<div class="container">

{% if from_base=='yes' %}
<div><h5>Week {{weights.workout_week}}, Day {{weights.day}}</h5></div>
{% else %}
<div>
    <h5>Custom Workout</h5>
</div>
{% endif %}


<span id="table" class="table table-striped"></span><br>

<div class="container buttons">
<span class="button-left">
<span id="addRow"> <button name="AddRow" class="btn btn-secondary" >Add Row</button></span></span>
<span class="button-left">
<span id="removeRow"> <button name="removeRow" class="btn btn-secondary">Remove Row</button></span>
</span>


<span class="button-right">
<a href="{{ url_for('weights.weights', page_id=page_id) }}" class="btn btn-info">Submit Workout</a>
</span>

</div>
</div>

<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
    const tableDiv = document.getElementById('table');
    const addRow = document.getElementById('addRow');
    const removeRow = document.getElementById('removeRow');
    const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
    };

    const editableCellAttributes = (data, row, col) => {
        if (row) {
            return { contentEditable: 'true', 'data-element-id': row.cells[0].data };
        }
        else {
            return {};
        }
    };

    const grid = new gridjs.Grid({
        columns: [
            { id: 'id', 'hidden': true },
            { id: 'exercise_name', name: 'Exercise', sort: false, 'attributes': editableCellAttributes },
            { id: 'sets', name: 'Sets', sort: false, 'attributes': editableCellAttributes },
            { id: 'rep_range', name: 'Rep Range', sort: false, 'attributes': editableCellAttributes },
            { id: 'reps', name: 'Reps', sort: false, 'attributes': editableCellAttributes },
            { id: 'weight', name: 'Weight', sort: false, 'attributes': editableCellAttributes },
        ],
        resizable: true,
        server: {
            url: '/api/data/{{page_id}}',
            then: results => results.data,
        },
        width: "auto",
        height: "auto"
    }).render(tableDiv);


    let savedValue;

    tableDiv.addEventListener('focusin', ev => {
        if (ev.target.tagName === 'TD') {
            savedValue = ev.target.textContent;
        }
    });

    tableDiv.addEventListener('focusout', ev => {
        if (ev.target.tagName === 'TD') {
            if (savedValue !== ev.target.textContent) {
                fetch('/api/data/{{page_id}}' , {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        id: ev.target.dataset.elementId,
                        [ev.target.dataset.columnId]: ev.target.textContent
                    }),
                });
            }
            savedValue = undefined;
        }
    });

    tableDiv.addEventListener('keydown', ev => {
        if (ev.target.tagName === 'TD') {
            if (ev.key === 'Escape') {
                ev.target.textContent = savedValue;
                ev.target.blur();
            }
            else if (ev.key === 'Enter') {
                ev.preventDefault();
                ev.target.blur();
            }
        }
    });

    addRow.addEventListener('click', () => {
            $.ajax({
            async: false,
            url: '/api/add_row/{{page_id}}',
        }).then(grid.forceRender())
    }
    )

    removeRow.addEventListener('click', () => {
        $.ajax({
            async: false,
            url: '/api/remove_row/{{page_id}}',
        }).then(grid.forceRender())
}
    );
</script>
</body>
{% endblock %}
