{% extends "base.html" %}
{% block head %}
<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/weights.css') }}">
<style>
    body {
        font-family: Sans-Serif;
    }
</style>

{% endblock %}

{% block content %}





<div class="container">


<form id="form" method="POST" enctype="multipart/form-data">

{% if from_base==True %}
<div class="heading">
    {% if allow_toggle[0] == True %}
    <span>
        <button id="left" class="toggle btn-toggle">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
    {% endif %}
    </span>
    <span>Week {{weights.workout_week}}, Day {{weights.workout_id}}</span>
    {% if allow_toggle[1] == True %}
    <span>
        <button id="right" class="toggle btn-toggle">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </span>
    {% endif %}
</div>
{% else %}
<div class="heading">
    <h5>Custom Workout</h5>
    <hr>
</div>
{% endif %}

<span id="table" class="table table-striped"></span><br>
<div class="weights-form">

    <span class="form-left">
    <tr>
        <td>Soreness: </td>
        <td></td>
    </tr>
    <tr>
    {% for subfield in form.soreness %}
        <td>{{ subfield }}</td>
        <td>{{ subfield.label(class="form-label") }}</td>
    {% endfor %}
    </tr>
    </span>

    <span class="form-right">
        <tr>
            <td>Intensity: </td>
            <td></td>
        </tr>
        <tr>
        {% for subfield in form.grade %}
            <td>{{ subfield }}</td>
            <td>{{ subfield.label(class="form-label") }}</td>
        {% endfor %}
        </tr>
    </span>
</div>

<div class="buttons">
    <span class="button-left">
        <span id="addRow"> <button name="AddRow" class="btn btn-secondary">Add Row</button></span></span>
    <span class="button-left">
        <span id="removeRow"> <button name="removeRow" class="btn btn-secondary">Remove Row</button></span></span>

    <span id="submit" class="button-right">
        {{ form.submit2(class="btn btn-dark") }}
    </span>
</div>


</form>
</div>


<script>
    let right = document.getElementById("right");
    let left = document.getElementById("left");

    if (right) {
        right.addEventListener('click', () => {
        var xhr = new XMLHttpRequest();
        event.preventDefault();
        $.ajax({
        //   data : {'toggle': clicked},
          url : "{{ url_for('weights.toggle_workout', page_id=page_id, toggle=1) }}",
          method : 'POST',
          headers: { 'Content-Type': 'application/json' },
          cache: false,
          xhr: function(){
            return xhr;
          },
    }).done (function(response){
          document.write(response)
          console.log(xhr.responseURL)
          window.history.pushState(undefined, '', xhr.responseURL)
          window.location.reload();
        });
    });
}

    if (left) {
        left.addEventListener('click', () => {
        var xhr = new XMLHttpRequest();
        event.preventDefault();
        $.ajax({
        //   data : {'toggle': clicked},
          url : "{{ url_for('weights.toggle_workout', page_id=page_id, toggle=-1) }}",
          method : 'POST',
          headers: { 'Content-Type': 'application/json' },
          cache: false,
          xhr: function(){
            return xhr;
          },
    }).done (function(response){
          document.write(response)
          console.log(xhr.responseURL)
          window.history.pushState(undefined, '', xhr.responseURL)
          window.location.reload();
        });
    });
}


</script>


<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
    const tableDiv = document.getElementById('table');
    const addRow = document.getElementById('addRow');
    const removeRow = document.getElementById('removeRow');
    const submit = document.getElementById('submit')
    const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
    };

    const editableCellAttributes = (data, row, col) => {
        if (row) {
            return { contentEditable: 'true', 'data-element-id': row.cells[0].data };
        }
        else {
            return {};
        }
    };


    const grid = new gridjs.Grid({
        columns: [
            { id: 'id', 'hidden': true },
            { id: 'exercise_name', name: 'Exercise', sort: false, 'attributes': editableCellAttributes },
            { id: 'last_week', name: 'Last Week', sort: false, 'attributes': editableCellAttributes },
            {% if show_rep_range %}
            { id: 'rep_range', name: 'Rep Range', sort: false, 'attributes': editableCellAttributes },
            {% endif %}
            { id: 'sets', name: 'Sets', sort: false, 'attributes': editableCellAttributes },
            { id: 'reps', name: 'Reps', sort: false, 'attributes': editableCellAttributes },
            { id: 'weight', name: 'Weight', sort: false, 'attributes': editableCellAttributes },
        ],
        resizable: true,
        server: {
            url: '/api/data/{{page_id}}',
            then: results => results.data,
        },
        width: "auto",
        height: "auto"
    }).render(tableDiv);


    let savedValue;

    tableDiv.addEventListener('focusin', ev => {
        if (ev.target.tagName === 'TD') {
            savedValue = ev.target.textContent;
        }
    });

    tableDiv.addEventListener('focusout', ev => {
        if (ev.target.tagName === 'TD') {
            if (savedValue !== ev.target.textContent) {
                fetch('/api/data/{{page_id}}' , {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        id: ev.target.dataset.elementId,
                        [ev.target.dataset.columnId]: ev.target.textContent
                    }),
                });
            }
            savedValue = undefined;
        }
    });

    tableDiv.addEventListener('keydown', ev => {
        if (ev.target.tagName === 'TD') {
            if (ev.key === 'Escape') {
                ev.target.textContent = savedValue;
                ev.target.blur();
            }
            else if (ev.key === 'Enter') {
                ev.preventDefault();
                ev.target.blur();
            }
        }
    });

    addRow.addEventListener('click', () => {
            $.ajax({
            async: false,
            url: '/api/add_row/{{page_id}}',
        }).then(grid.forceRender())
    });

    removeRow.addEventListener('click', () => {
        $.ajax({
            async: false,
            url: '/api/remove_row/{{page_id}}',
        }).then(grid.forceRender())
    });

     submit.addEventListener('click', () => {
        console.log('submit clicked')
        var xhr = new XMLHttpRequest();
        var data = $('form').serialize();
        console.log(data)
        event.preventDefault();
            $.ajax({
                async: false,
                data: $('form').serialize(),
                type: 'POST',
                url: '/api/process/{{page_id}}',
                xhr: function () {
                    return xhr;
                }
            }).done (function (response) {
                console.log(response)
                document.write(response)
                window.history.pushState(undefined, '', xhr.responseURL)
            })
        });



</script>
</body>
{% endblock %}
