{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}


{% block content %}
<body>
<div class="container">


    <form method="POST" class="form">
        {{ login_form.hidden_tag() }}
        <h2>Login</h2>
        <br /><br />
        {{ login_form.username.label(class="form-label") }}

        {{ login_form.username(class="form-control") }}

        {{ login_form.password.label(class="form-label") }}

        {{ login_form.password(class="form-control") }}
        <br />


        <br />

        {{ login_form.submit(class="btn btn-secondary") }}


        <div>
            <br />
            <span>Don't have an account? <a href="{{ url_for('auth.register') }}">Sign up.</a></span></br>
            <span>Forgot Password? <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset.</a></span></br>
        </div>
    </form>




</div>
</body>
{% endblock %}
