{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{% endfor %}

<body>
<div class="container">


    <form method="POST" class="form">
        {{ login_form.hidden_tag() }}
        <h2>Login</h2>
        <br /><br />
        {{ login_form.username.label(class="form-label") }}

        {{ login_form.username(class="form-control") }}

        {{ login_form.password.label(class="form-label") }}

        {{ login_form.password(class="form-control") }}
        <br />


        <br />

        {{ login_form.submit(class="btn btn-secondary") }}

        <div class="login-signup">
            <span>Don't have an account? <a href="{{ url_for('login') }}">Sign up.</a></span>
        </div>
    </form>




</div>
</body>
{% endblock %}
