{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/weights.css') }}">

{% endblock %}

{% block content %}



<div class="container">
    <h1>Initialize Workout Template</h1>
<form method="POST">
    {{ init_form.hidden_tag() }}



    <div>
        {{ init_form.name_workout_plan.label(class="form-label") }} <br>
        {{ init_form.name_workout_plan()}}<br><br>

    </div>

    <div id="set-base">
        {{ init_form.days.label(class="form-label") }} <br>
        {{ init_form.days()}}<br><br>

    </div>

    <h5>Enter One-Rep Max (optional)</h5>
    <br>

        <table class="table">
            <tr>
                <th>
                    Exercise
                </th>
                <th>
                    Weight
                </th>
            </tr>
            <tr>
                <td>{{ init_form.bench_pr.label(class="form-label") }}</td>
                <td>{{ init_form.bench_pr()}}</td>
            </tr>
            <tr>
                <td>{{ init_form.squat_pr.label(class="form-label") }}</td>
                <td>{{ init_form.squat_pr()}}</td>
            </tr>
            <tr>
                <td>{{ init_form.deadlift_pr.label(class="form-label") }}</td>
                <td>{{ init_form.deadlift_pr()}}</td>
            </tr>
            <tr>
                <td>{{ init_form.ohp_pr.label(class="form-label") }}</td>
                <td>{{ init_form.ohp_pr()}}</td>
            </tr>

            {% for entry in init_form.custom_prs %}

            <tr class='optional-row' id='{{loop.index}}'>
                <td>
                    {{ entry.custom_pr_name()}}
                </td>
                <td>
                    {{ entry.custom_pr_weight()}}
                </td>
            </tr>



            {% endfor %}
            <tr>
                <td></td>
                <td><button type="button" class="minus">-</button><button type="button" class="plus">+</button></td>
            </tr>
        </table>


    {{ init_form.submit(class="btn btn-secondary") }}


</form>



</div>

<script>
    let row_id = 0;

    // console.log(name);
    // let displayIndex = document.getElementById(row_id);
    let counterPlus = document.querySelector('.plus');
    let counterMinus = document.querySelector('.minus');

    if (row_id == 4) {
        counterPlus.style.display = 'none';
    }

    counterPlus.addEventListener("click", ()=>{
        if (row_id < 4) {
            row_id++;
            document.getElementById(row_id).style.display = "table-row";
        }
        if (row_id == 4) {
            counterPlus.style.display = 'none';
        }

    });

    counterMinus.addEventListener("click", () => {
            document.getElementById(row_id).style.display = "none";
            if (row_id > 0) {
                row_id--;
            }
            if (row_id < 4) {
                counterPlus.style.display = 'table-row';
            }

        });


</script>


{% endblock %}
