{% extends "base.html" %}


{% block content %}
<script>
    function secondField(field_name) {
        let showField = document.getElementById(field_name);
        if (showField.value !== 'between') {
            showField.style.display = 'none';
        }

    }
</script>



<div class='container-fluid'>
    <h4>Insight Filters</h4>
    <hr>
    <form method="POST">
        {{ filter_form.csrf_token() }}
        {{ filter_form.hidden_tag() }}

        {{filter_form.start_date.label}} {{filter_form.start_date(class='datepicker')}} {{filter_form.hidden_tag()}}
        {{filter_form.end_date(class='datepicker')}} {{filter_form.hidden_tag()}}
        <br><br>
        <div class="row">
            <div class="col-lg"> {{ filter_form.sleep_filter.label(class="form-label" ) }} <i
                    class="fa-solid fa-bed"></i>
                <br>
                {{ filter_form.sleep_filter()}}
                {{ filter_form.sleep_operator()}}
                <br>
                {{ filter_form.sleep_first()}}
                {{ filter_form.sleep_second() }}
            </div>
            <div class="col-lg">
                {{ filter_form.readiness_filter.label(class="form-label") }} <i class="fa-solid fa-bolt"></i>
                <br>
                {{ filter_form.readiness_filter()}}
                {{ filter_form.readiness_operator()}}
                <br>
                {{ filter_form.readiness_first()}}
                {{ filter_form.readiness_second()}}
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                {{ filter_form.wellness_filter.label(class="form-label") }} <i class="fa-solid fa-spa"></i>
                <br>
                {{ filter_form.wellness_filter()}}
                {{ filter_form.wellness_operator()}}
                <br>
                {{ filter_form.wellness_first()}}
                {{ filter_form.wellness_second()}}<br>

            </div>
            <div class="col-lg">{{ filter_form.workout_filter.label(class="form-label" ) }} <i
                    class="fa-solid fa-person-running"></i>
                <br>
                {{ filter_form.workout_filter()}}
                {{ filter_form.workout_operator()}}
                <br>
                {{ filter_form.workout_first()}}
                {{ filter_form.workout_second()}}
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                {{ filter_form.tag_filter.label(class="form-label") }} <i class="fa-solid fa-tags"></i><br>
                {{ filter_form.tag_filter()}}
            </div>
            <div class="col-lg"> <br><br><br>{{ filter_form.submit(class="btn btn-dark" ) }} </div><br>
        </div>
    </form>

    <hr>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Overall Average ({{total_days}}) </th>
                {% if filter_avgs %}
                <th scop="col">Filtered Average ({{filtered_days}})</th>
                {% endif %}
                <!-- <th scope="col">Last</th>
            <th scope="col">Handle</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Total Sleep</th>
                <td>{{averages['avg_total_sleep']}}</td>
                {% if filter_avgs %}
                <td>{{filter_avgs['avg_total_sleep']}}</td>
                {% endif %}
                <!-- <td></td> -->
            </tr>
            <tr>
                <th scope="row">Sleep Score</th>
                <td>{{averages['avg_sleep_score']}}</td>
                {% if filter_avgs %}
                <td>{{filter_avgs['avg_sleep_score']}}</td>
                {% endif %}
                <!-- <td></td> -->
            </tr>
            <tr>
                <th scope="row">REM Score</th>
                <td>{{averages['avg_rem_score']}}</td>
                {% if filter_avgs %}
                <td>{{filter_avgs['avg_rem_score']}}</td>
                {% endif %}
                <!-- <td>@fat</td> -->
            </tr>
            <tr>
                <th scope="row">Deep Score</th>
                <td>{{averages['avg_deep_score']}}</td>
                {% if filter_avgs %}
                <td>{{filter_avgs['avg_deep_score']}}</td>
                {% endif %}
                <!-- <td>@twitter</td> -->
            </tr>
            <tr>
                <th scope="row">Sleep Efficiency</th>
                <td>{{averages['avg_sleep_efficiency']}}</td>
                {% if filter_avgs %}
                <td>{{filter_avgs['avg_sleep_efficiency']}}</td>
                {% endif %}
                <!-- <td>the Bird</td>
            <td>@twitter</td> -->
            </tr>
            <tr>
                <th scope="row">Readiness Score</th>
                <td>{{averages['avg_readiness_score']}}</td>
                {% if filter_avgs %}
                <td>{{filter_avgs['avg_readiness_score']}}</td>
                {% endif %}
                <!-- <td>the Bird</td>
            <td>@twitter</td> -->
            </tr>
            <tr>
                <th scope="row">Recovery Index</th>
                <td>{{averages['avg_recovery_index']}}</td>
                {% if filter_avgs %}
                <td>{{filter_avgs['avg_recovery_index']}}</td>
                {% endif %}
                <!-- <td>the Bird</td>
            <td>@twitter</td> -->
            </tr>
            <tr>
                <th scope="row">HRV Balance</th>
                <td>{{averages['avg_hrv_balance']}}</td>
                {% if filter_avgs %}
                <td>{{filter_avgs['avg_hrv_balance']}}</td>
                {% endif %}
                <!-- <td>the Bird</td>
            <td>@twitter</td> -->
            </tr>
            <!-- <tr>
                <th scope="row">Food Cutoff</th>
                <td>{{averages['avg_food_cutoff']}}</td>
                {% if filter_avgs %}
                <td>{{filter_avgs['avg_food_cutoff']}}</td>
                {% endif %}
                <!-- <td>the Bird</td>
            <td>@twitter</td> -->
            <!-- </tr> --> -->
        </tbody>
    </table>
    {% endblock %}
</div>
