{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}">
{% endblock %}

{% block content %}


<div class="main-container">

<div class="container">

    <h2>{{date}}</h2>
    <hr>
</div>


<div class="container card-container">
    <div class="container overflow-hidden">
        {% if sleep %}
        <div class="row row-cols-2">
            <div class="col ">

                <div class="p-3 border bg-light ">

                    <H5>Sleep <i class="fa-solid fa-bed"></i></H5>
                </div>

                <div class="p-3 border">
                    <ul>
                        <li>Overall Sleep Score: {{sleep.sleep_score}}</li>
                        <li>REM Score: {{sleep.rem_score}}</li>
                        <li>Deep Score: {{sleep.deep_score}}</li>
                        <li>Efficiency Score: {{sleep.sleep_efficiency}}</li>
                        <li>Restlessness Score: {{sleep.restlessness}}</li>
                        <li>Total Sleep: {{sleep.total_sleep}}</li>
                        <li>Total REM Sleep: {{sleep.total_rem_sleep}}</li>
                        <li>Total Deep Sleep: {{sleep.total_deep_sleep}}</li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div>
                    {% if readiness %}
                    <div class="p-3 border bg-light">
                        <H5>Readiness <i class="fa-solid fa-bolt"></i></H5>
                    </div>
                    <div class="p-3 border">
                        <ul>
                            <li>Overall Readiness Score: {{readiness.readiness_score}}</li>
                            <li>HRV Balance Score: {{readiness.hrv_balance}}</li>
                            <li>Recovery Index: {{readiness.recovery_index}}</li>
                            <li>Resting HR Score: {{readiness.resting_hr}}</li>
                            <li>Temperature Score: {{readiness.temperature}}</li>
                        </ul>
                    </div>
                    {% endif %}

                </div>
            </div>


            {% else %}

            <div class="row row-cols-1">
                <div class="col">
                    <div class="p-3 border bg-light">
                        <H5>Sleep <i class="fa-solid fa-bed"></i></H5>
                    </div>
                    <div class="p-3 border ">
                        <i> No sleep data for today. Please make sure oura ring is on and connected to bluetooth for
                            data transfer.</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="container overflow-hidden">
            <div class="row row-cols-2">
                <div class="col ">

                    <div class="p-3 border bg-light">
                        <H5>Wellness <i class="fa-solid fa-spa"></i></H5>
                    </div>
                    <div class="p-3 border ">
                        <div class="card-inner">
                        {% if log %}
                        <ul>
                            <li>Focus: {{log.focus}}</li>
                            <li>Energy: {{log.energy}}</li>
                            <li>Mood: {{log.mood}}</li>
                            <li>Stress: {{log.stress}}</li>
                        </ul>
                        <hr>
                        <div>
                            <h6>Log <i class="fa-solid fa-pen-to-square"></i></h6>
                            <hr>
                            <i>{{log.journal}}</i>
                            <hr>
                            <i class="fa-regular fa-tags"></i>
                            {% for tag in log.tags %}
                            <a href="{{ url_for('insights.insights', filters=[tag]) }}">{{tag}}</a>
                            {% endfor %}
                        </div>

                        {% if not workout %}
                        <br>
                        <a href="{{ url_for('dashboard.edit_log', page_id=page_id) }}" class="btn btn-info">Edit
                            Wellness</a>
                        {% endif %}


                        {% else %}
                            <form method="POST">

                                {{ wellness_form.hidden_tag() }}
                                <div class="radio-grouping">
                                {% for field in [wellness_form.focus, wellness_form.energy, wellness_form.mood,
                                wellness_form.stress]
                                %}


                                    <span class="radio-label">{{ field.label(class="form-label") }}</span>
                                    <span class="radio">
                                        {% for subfield in field %}


                                        <tr>
                                            <td>{{ subfield }}</td>
                                            <td>{{ subfield.label(class="form-label") }}</td>
                                        </tr>



                                        {% endfor %}
                                    </span>




                                <br>
                                {% endfor %}<br>
                                    </div>


                                {{ wellness_form.journal.label(class="form-label") }} <br>
                                {{ wellness_form.journal(class="text-area")}}<br><br>
                                <div class="row">
                                    <div class="col">
                                        {{ wellness_form.select_tags.label(class="form-label") }} <br>
                                        {{ wellness_form.select_tags()}}<br><br>
                                    </div>
                                    <div class="col">
                                        {{ wellness_form.new_tags.label(class="form-label") }} <br>
                                        {{ wellness_form.new_tags(class="text-area")}}
                                        <br>
                                        <br>
                                    </div>
                                </div>


                                {{ wellness_form.submit1(class="btn btn-dark") }}
                            </form>

                        {% endif %}
                    </div>
                    </div>
                </div>

                <div class="col">
                    <div>
                        <div class="p-3 border bg-light">
                            <H5>Workout <i class="fa-solid fa-person-running"></i></H5>
                        </div>
                        <div class="p-3 border ">
                            <div class="card-inner">
                            {% if workout %}
                            <ul>
                                <li>Workout Type: {{workout.type}}</li>
                                {% if workout.soreness %}
                                <li>Soreness Level: {{workout.soreness}}</li>
                                {% endif %}
                                {% if workout.grade %}
                                <li>Workout Grade: {{workout.grade}}</li>
                                {% endif %}

                                {% if workout.filename %}
                                <li>Uploaded Workout: <a
                                        href="{{url_for('dashoard.download', page_id=page_id)}}">{{workout.filename}}</a></li>
                                {% endif %}
                                <br>


                                {% if workout.type == "Weights" %}
                                <div class="workout-links">

                                <a href={{url_for('weights.weights', page_id=page_id)}}>View Workout</a><br>
                                <a href={{url_for('weights.edit_weights', page_id=page_id, from_base='yes' )}}>Edit Workout</a>
                                <a href={{url_for('dashboard.delete_workout', page_id=page_id)}}>Delete Workout</a>
                                </div>
                                {% endif %}

                            </ul>
                            {% if workout.workout_log %}
                            <div>
                                <hr>
                                <h6>Log <i class="fa-solid fa-pen-to-square"></i></h6>
                                <hr> <i>{{workout.workout_log}}</i><br>

                            </div>
                            {% endif %}

                            {% else %}
                            <form method="POST" enctype="multipart/form-data">
                                {{ workout_form.hidden_tag() }}
                                {{ workout_form.type.label(class="form-label") }}:<br>
                                {{ workout_form.type()}} <br><br>
                                <i>
                                    <div>--or--</div><br>
                                </i>
                                {{ workout_form.specify_other.label(class="form-label")}}<br>
                                {{ workout_form.specify_other(class="text-area") }}<br><br>
                                <a href={{url_for('weights.init_template', page_id=page_id)}} class="link-success">Start New Weights
                                    Template</a><br><br>
                                <a href={{url_for('weights.edit_weights', page_id=page_id, from_base='yes')}} class="link-success">Start Weights Workout (from template)</a><br><br>
                                <a href={{url_for('weights.edit_weights', page_id=page_id, from_base='no')}} class="link-success">Start Weights Workout (empty)</a><br><br>

                                <div class="radio-grouping">
                                <span class="radio-label">{{ workout_form.soreness.label(class="form-label" )}}</span>
                                <span class="radio">
                                {% for subfield in workout_form.soreness %}
                                <tr>
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label(class="form-label") }}</td>
                                </tr>
                                {% endfor %}</span><br>


                                <span class="radio-label">{{ workout_form.grade.label(class="form-label") }}</span>
                                <span class="radio">
                                {% for subfield in workout_form.grade %}
                                <tr>
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label(class="form-label") }}</td>
                                </tr>
                                {% endfor %}</span><br><br>
                                </div>


                                {{ workout_form.file.label(class="form-label") }}
                                {{ workout_form.file(class="text-area")}}<br><br>

                                {{ workout_form.workout_log.label(class="form-label") }}<br>
                                {{ workout_form.workout_log(class="text-area") }}<br><br>
                                {{ workout_form.submit2(class="btn btn-dark") }}


                                {% endif %}

                            </form>


                        </div>
                        {% if workout and not log %}
                        <a href="{{ url_for('dashboard.edit_log', page_id=page_id) }}" class="btn btn-info">Edit <i
                                class="fa-solid fa-person-running"></i></a>
                                </div>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </div><br>
    {% if log and workout %}
    <div class="wrapper">
        <a href="{{ url_for('dashboard.edit_log', page_id=page_id) }}">Edit <i
                class="fa-solid fa-spa"></i></a>
    </div>
    {% endif %}
    <br>
    <br>
</div>
<div class="button-left">
    <button class="btn btn-outline-secondary" id="back"
        onclick="window.location.href='{{ url_for('dashboard.log', page_id=page_id-1) }}'"><i
            class="fa-solid fa-angles-left"></i> Previous Day</button>
</div>

<div class="button-right">
    <button class="btn btn-outline-secondary" id="forward"
        onclick="window.location.href='{{ url_for('dashboard.log', page_id=page_id+1) }}'">Next Day <i
            class="fa-solid fa-angles-right"></i></button>
</div>
</div>


</div>
{% endblock %}
