{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}">
{% endblock %}

{% block content %}


<div class="main-container">

<div class="container">

    <h2>{{date}}</h2>
    <hr>
</div>


<div class="container card-container">
    <div class="container overflow-hidden">
        {% if sleep %}
        <div class="row row-cols-2">
            <div class="col ">

                <div class="p-3 border bg-light ">

                    <H5>Sleep <i class="fa-solid fa-bed"></i></H5>
                </div>

                <div class="p-3 border">
                    <ul>
                        <li>Overall Sleep Score: {{sleep.sleep_score}}</li>
                        <li>REM Score: {{sleep.rem_score}}</li>
                        <li>Deep Score: {{sleep.deep_score}}</li>
                        <li>Efficiency Score: {{sleep.sleep_efficiency}}</li>
                        <li>Restlessness Score: {{sleep.restlessness}}</li>
                        <li>Total Sleep: {{sleep.total_sleep}}</li>
                        <li>Total REM Sleep: {{sleep.total_rem_sleep}}</li>
                        <li>Total Deep Sleep: {{sleep.total_deep_sleep}}</li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div>
                    {% if readiness %}
                    <div class="p-3 border bg-light">
                        <H5>Readiness <i class="fa-solid fa-bolt"></i></H5>
                    </div>
                    <div class="p-3 border">
                        <ul>
                            <li>Overall Readiness Score: {{readiness.readiness_score}}</li>
                            <li>HRV Balance Score: {{readiness.hrv_balance}}</li>
                            <li>Recovery Index: {{readiness.recovery_index}}</li>
                            <li>Resting HR Score: {{readiness.resting_hr}}</li>
                            <li>Temperature Score: {{readiness.temperature}}</li>
                        </ul>
                    </div>
                    {% endif %}

                </div>
            </div>


            {% else %}

            <div class="row row-cols-1">
                <div class="col">
                    <div class="p-3 border bg-light">
                        <H5>Sleep <i class="fa-solid fa-bed"></i></H5>
                    </div>
                    <div class="p-3 border ">
                        <i> No sleep data for today. Please make sure oura ring is on and connected to bluetooth for
                            data transfer.</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="container overflow-hidden">
            <div class="row row-cols-2">
                <div class="col ">
                    <div class="col-wrap">
<div class="p-3 border bg-light col-head">
    <H5>Wellness <i class="fa-solid fa-spa"></i></H5>
</div>
<div class="p-3 border inner-col">


    {% if log %}

    <div class="radio-grouping {% if workout and log %}both{% endif %}">
        <div class="radio-form sub">
            <ul>
                <li>Focus: {{log.focus}}</li>
                <li>Energy: {{log.energy}}</li>
                <li>Mood: {{log.mood}}</li>
                <li>Stress: {{log.stress}}</li>
            </ul>
        </div>

        <!-- <hr> -->

        <div class="log sub">
            <span class="right-icon"><i class="fa-solid fa-pen-to-square"></i></span>
            <hr>
            <i>{{log.journal}}</i>
        </div>
    </div>
    <span class="right-icon"><i class="fa-regular fa-tags"></i></span><hr>
    <div class="tags select sub {% if workout and log %}both{% endif %}">
        {% for tag in log.tags %}
        <a href="{{ url_for('insights.insights', filters=[tag]) }}">{{tag}}</a>
        {% endfor %}
    </div>

    <div class="submit sub">
         <hr>
        {% if not workout %}
            <a href="{{ url_for('dashboard.edit_log', page_id=page_id) }}" class="btn btn-info">Edit <i class="fa-solid fa-spa"></i></a>
        {% endif %}
    </div>



    {% else %}
    <form method="POST">

        {{ wellness_form.hidden_tag() }}
        <div class="radio-grouping">
            <div class="radio-form">
                {% for field in [wellness_form.focus, wellness_form.energy, wellness_form.mood,
                wellness_form.stress]
                %}

                <span class="radio-label">{{ field.label(class="form-label") }}</span>
                <span class="radio">
                    {% for subfield in field %}

                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label(class="form-label") }}</td>
                    </tr>

                    {% endfor %}
                </span>

                <br>
                {% endfor %}<br>
            </div>

            <div class="log">
                {{ wellness_form.journal.label(class="form-label prompt") }} <br>
                {{ wellness_form.journal(class="text-area")}}

            </div>

        </div>
        <hr>





        <div class="select">
            <div class="inner-select">
                <div class="row">
                    <div class="col tags">
                        <span>Select <i class="fa-solid fa-tags"></i></span>

                        {{ wellness_form.select_tags()}}
                    </div>
                    <div class="col tags">
                        <span>Add <i class="fa-solid fa-tags"></i></span>
                        {{ wellness_form.new_tags(class="text-area")}}
                    </div>
                </div>
            </div>
        </div>



        <div class="submit">
            <hr>
            <button type=submit class="btn btn-dark"><span><i class="fa-solid fa-right-to-bracket"></i></span></button>
        </div>
    </form>

    {% endif %}
</div>
                    </div>


                    </div>

<!-- Workout Module -->

                <div class="col">
                    <div class="col-wrap">
                        <div class="p-3 border bg-light col-head">
                            <H5>Workout <i class="fa-solid fa-person-running"></i></H5>
                        </div>
                    <div class="p-3 border inner-col">
                        {% if workout %}
                        <div class="radio-grouping {% if workout and log %}both{% endif %}">
                            <div class="radio-form sub">
                                <ul>
                                <li> Type: {{workout.type}}</li>
                                {% if workout.soreness %}
                                <li>Soreness: {{workout.soreness}}</li>
                                {% endif %}
                                {% if workout.grade %}
                                <li>Intensity: {{workout.grade}}</li>
                                {% endif %}
                                </ul>

                            </div>
                            <!-- <hr> -->
                                <span class="right-icon"><i class="fa-solid fa-pen-to-square"></i></span>
                                    <hr>
                            {% if workout.workout_log %}
                            <div class="log sub">
                                 <i>{{workout.workout_log}}</i><br>
                            </div>
                            {% endif %}
                        </div>

                        <span class="right-icon"><i class="fa-solid fa-link"></i></span>
                            <hr>
                        <div class="select sub {% if workout and log %}both{% endif %}">


                                {% if workout.type == "Weights" %}
                                <div class="workout-links">
                                    <a href={{url_for('weights.weights', page_id=page_id)}}>View Workout</a><br>
                                    <a href={{url_for('weights.edit_weights', page_id=page_id, from_base='yes' )}}>Edit Workout</a>
                                    <a href={{url_for('dashboard.delete_workout', page_id=page_id)}}>Delete Workout</a>
                                </div>
                                {% endif %}


                         </div>


                        <div class="submit sub">
                            <hr>
                            {% if log and workout %}
                                    <a class="btn btn-light" href="{{ url_for('dashboard.edit_log', page_id=page_id) }}"><i class="fa-solid fa-person-walking"></i> Edit <i
                                    class="fa-solid fa-spa"></i></a>

                            {% elif workout and not log %}
                                <a href="{{ url_for('dashboard.edit_log', page_id=page_id) }}" class="btn btn-light">Edit <i
                                class="fa-solid fa-person-running"></i></a>

                            {% endif %}

                        </div>

                        {% else %}
 <!-- Workout Empty  -->
                        <form method="POST" enctype="multipart/form-data">
                            <div class="radio-grouping">
                                <div class="radio-form">
                                    <span class="radio-label">{{ workout_form.soreness.label(class="form-label" )}}</span>
                                    <span class="radio">
                                        {% for subfield in workout_form.soreness %}
                                        <tr>
                                            <td>{{ subfield }}</td>
                                            <td>{{ subfield.label(class="form-label") }}</td>
                                        </tr>
                                        {% endfor %}
                                    </span><br>


                                    <span class="radio-label">Intensity:</span>
                                    <span class="radio">
                                        {% for subfield in workout_form.grade %}
                                        <tr>
                                            <td>{{ subfield }}</td>
                                            <td>{{ subfield.label(class="form-label") }}</td>
                                        </tr>
                                        {% endfor %}<br>
                                    </span>
                                </div>


                                <div class="log">
                                    {{ workout_form.workout_log.label(class="form-label prompt") }}<br>
                                    {{ workout_form.workout_log(class="text-area") }}

                                </div>


                            </div>
                            <hr>


                            <div class="select">
                                <div class="inner-select">
                                    <div class="row">
                                        <div class="col tags">
                                            {{ workout_form.hidden_tag() }}
                                            <span>Select <i class="fa-solid fa-person-walking"></i></span>
                                            <br>
                                            {{ workout_form.type()}}
                                        </div>
                                        <div class="col tags">
                                            <span>Add <i class="fa-solid fa-person-walking"></i></span><br>
                                            {{ workout_form.specify_other(class="text-area") }}
                                        </div>
                                    </div>
                                    <div class="carousel-wrapper">
                                        <div id="carouselWeights" class="carousel carousel-dark slide" data-bs-ride="false">
                                            <ol class="carousel-indicators">
                                                <li data-bs-target="#carouselWeights" data-bs-slide-to="0" class="active"></li>
                                                <li data-bs-target="#carouselWeights" data-bs-slide-to="1"></li>
                                                <li data-bs-target="#carouselWeights" data-bs-slide-to="2"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <br>
                                                    <p><a class="btn btn-xs btn-light" href={{url_for('weights.init_template', page_id=page_id)}}><i
                                                                class="fa-solid fa-dumbbell"></i><br>New Program</a><br></p>

                                                    <!-- <a href="#" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span> Default text here</a> -->

                                                    <!-- <p>Some representative placeholder content for the first slide.</p> -->

                                                </div>
                                                <div class="carousel-item">
                                                    <br>
                                                    <p><a class="btn btn-xs btn-light" href={{url_for('weights.edit_weights', page_id=page_id, from_base='yes'
                                                            )}}><i class="fa-solid fa-play"></i><br>Next Workout</a><br></p>

                                                </div>
                                                <div class="carousel-item">
                                                    <br>
                                                    <p><a class="btn btn-xs btn-light" href={{url_for('weights.edit_weights', page_id=page_id, from_base='no'
                                                            )}}><i class="fa-solid fa-play"></i><br>Custom Workout</a><br></p>
                                                    <!-- <a class="d-block" href={{url_for('weights.edit_weights', page_id=page_id, from_base='no' )}} class="link-success">Start Workout
                                                                                                                                                (blank)</a> -->
                                                </div>
                                            </div>
                                            <a class="carousel-control-prev" data-bs-target="#carouselWeights" type="button" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" data-bs-target="#carouselWeights" type="button" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>

                                        </div><br>
                                    </div>


                                </div>

                            </div>



                        <div class="submit">
                            <hr>
                            <button type=submit class="btn btn-dark"><span><i class="fa-solid fa-right-to-bracket"></i></span></button>
                        </div>
                            </form>
                            {% endif %}
                        </div>


                </div>
                </div>
            </div>
<!-- End Workout Module -->






            </div>
                        </div>

                        </div>


                </div>



            </div>


    <br>
    <br>
</div>
<div class="button-left">
    <button class="btn btn-outline-secondary" id="back"
        onclick="window.location.href='{{ url_for('dashboard.log', page_id=page_id-1) }}'"><i
            class="fa-solid fa-angles-left"></i> Previous Day</button>
</div>

<div class="button-right">
    <button class="btn btn-outline-secondary" id="forward"
        onclick="window.location.href='{{ url_for('dashboard.log', page_id=page_id+1) }}'">Next Day <i
            class="fa-solid fa-angles-right"></i></button>
</div>
</div>


</div>
{% endblock %}
</div>
