{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}

<!-- {% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{% endfor %} -->

<body>
    <div class="container">


        {% if edit == 1 %}

        <form method="POST" class="form">
            {{ form.hidden_tag() }}
            <h2>Edit Profile</h2>
            <br /><br />
            {{ form.username.label(class="form-label") }}

            {{ form.username(class="form-control") }}

            {{ form.name.label(class="form-label")}}

            {{ form.name(class="form-control")}}

            {{ form.email.label(class="form-label") }}

            {{ form.email(class="form-control") }}

            {{ form.password1.label(class="form-label")}}

            {{ form.password1(class="form-control")}}

            {{ form.password2.label(class="form-label")}}

            {{ form.password2(class="form-control")}}

            {{ form.oura_access_token.label(class="form-label")}}

            {{ form.oura_access_token(class="form-control")}}
            <br />


            <br />

            {{ form.submit(class="btn btn-secondary") }} <a href="{{url_for('profile.profile', edit=0)}}" class="btn btn-info">View Profile</a>


        </form>

        {% else %}
        <br><br>
        <h2>User Profile</h2>

        <br /><br />
        <h6>Username:</h6> <p>{{username}}</p>
        <h6>Name:</h6> <p>{{name}}</p>
        <h6>Email:</h6> <p>{{email}}</p>
        <h6>Oura Access Token:</h6> <p>{{oura_access_token}}</p>
        <h6>Join Date:</h6> <p>{{join_date}}</p>
        <a href="{{url_for('profile.profile', edit=1)}}" class="btn btn-info">Edit Profile</a><br>
        {% endif %}
    </div>
</body>
{% endblock %}
