{% extends "base.html" %}

<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
<style>
    body {
        font-family: Sans-Serif;
    }
</style>

{% block content %}



<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th>Exercise</th>
            <th>Sets</th>
            <th>Rep Range</th>
            <th>Reps</th>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody>
        {% for exercise in workout %}
        <tr>
            <td>{{ workout.exercise }}</td>
            <td>{{ workout.sets }}</td>
            <td>{{ workout.rep_range }}</td>
            <td>{{ workout.reps }}</td>
            <td>{{ workout.weights }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
new gridjs.Grid({
    columns: [
    { id: 'exercise', name: 'Exercise' },
    { id: 'sets', name: 'Sets' },
    { id: 'rep_range', name: 'Rep Range' },
    { id: 'reps', name: 'Reps' },
    { id: 'weight', name: 'Weight' },
],
data: [
{% for i in range(weights.exercises | length) %}
    {
        exercise: '{{ exercises[i] }}',
        sets: '{{ sets[i] }}',
        rep_range: '{{ rep_ranges[i] }}',
        reps: '{{ reps[i] }}',
        weight: '{{ weight[i] }}'
    },
{% endfor %}
],
    search: true,
    sort: true,
    pagination: true,
    }).render(document.getElementById('table'));
</script>
{% endblock %}
