{% extends "bootstrap/base.html" %}


{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
    
{% block navbar %}
<nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">Jack's Wellness Tracker</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/calendar">Calendar</a></li>
            </ul>
        </div>
    </div>
</div>
</nav>
{% endblock %}