{% extends "base.html" %}

import { Calendar } from '@fullcalendar/core';
import interactionPlugin from '@fullcalendar/interaction';



{% block head %}
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% endblock %}

{% block content %}


<div class="container">
  <div id="calendar"></div>
  <script>
  const sleep_color = 'black';
  const swim_color = 'light-blue';
  const journal_color = '#08088A';
  const weights_color = 'blue';


    let calendarEl = document.getElementById
    ('calendar');

    let calendar = new FullCalendar.Calendar(calendarEl, {
      events: [
      {% for event in events %}
      {
      id : '{{ event['id'] }}',
      title : '{{ event['title'] }}',
      start : '{{ event['date'] }}',
      url: '{{ url_for('index', page_id = event['id']) }}',
      {% if event.title == 'Sleep' %}
      backgroundColor: sleep_color,
      borderColor: sleep_color,
      {% elif event.title == 'Wellness Log' %}
      backgroundColor: journal_color,
      borderColor: journal_color,
      {% elif event.title == 'Weights' %}
      backgroundColor: weights_color,
      borderColor: weights_color,
      {% else %}
      backgroundColor: swim_color,
      borderColor: swim_color,
      {% endif %}
      },
      

      {% endfor %}
      ],
      
      eventClick: function(info) {
        if (info.event.url) {
          window.open(info.event.url);
        }
      },
      dateClick: function(date) {
        var date_str = date.dateStr;
        var xhr = new XMLHttpRequest();
        $.ajax({
          data : {'date_str' : date_str},
          url : '{{url_for('process')}}',
          method : 'POST',
          cache: false,
          xhr: function(){
            return xhr;
          }
        }).done (function(response){
          document.write(response)
          window.history.pushState(undefined, '', xhr.responseURL)
        })
      }
    });
  calendar.render();
  </script>
</div>
{% endblock %}







