{% extends "base.html" %}

import { Calendar } from '@fullcalendar/core';
import interactionPlugin from '@fullcalendar/interaction';

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div id="calendar"></div>
  <script>
    let calendarEl = document.getElementById
    ('calendar');

    let calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ interactionPlugin ],
      events : [
        {% for event in events %}
      { title : '{{event['title']}}', 
      start : '{{event['date']}}', }, 
        {% endfor %}
      ],
    });
    calendar.render();
  </script>
</div>
{% endblock %}







