{% extends "base.html" %}

{% block content %}
<h4>Sleep Summary:</h4>
{% if sleep %}
<div>
    <ul>
        <li>Overall Sleep Score: {{sleep.sleep_score}}</li>
        <li>REM Score: {{sleep.rem_score}}</li>
        <li>Deep Score: {{sleep.deep_score}}</li>
        <li>Efficiency Score: {{sleep.sleep_efficiency}}</li>
        <li>Restlessness Score: {{sleep.restlessness}}</li>
        <li>Total Sleep: {{sleep.total_sleep}}</li>
        <li>Total REM Sleep: {{sleep.total_rem_sleep}}</li>
        <li>Total Deep Sleep: {{sleep.total_deep_sleep}}</li>
    </ul>
</div>
{% else %}
    <i> No sleep data for today. Please make sure oura ring is on and connected to bluetooth for data transfer</i>
{% endif %}
 
    <H4> Notes:</H4> 
    <br>
    <div>
        <form method="POST" >
            
            {{ wellness_form.hidden_tag() }}
            

            {% for field in [wellness_form.focus, wellness_form.energy, wellness_form.mood] %}
            {{ field.label(class="form-label") }}
            {% for subfield in field %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label(class="form-label") }}</td>
            </tr>
            {% endfor %}
            <br> 
            {% endfor %}<br>
            {{ wellness_form.journal_entry.label(class="form-label") }} <br>
            {{ wellness_form.journal_entry()}}
            <br>
            <br>
            {{ wellness_form.submit1(class="btn btn-dark") }}
            </form>
</div>

<div>
    <H5>Workout Log</H5>
{% if workout %}
<ul>
    <li>Workout Type: {{workout.type}}</li>
    <li>Soreness Level: {{workout.soreness}}</li>
    <li>Workout Intensity: {{workout.intensity}}</li>
    <li>Uploaded Workout: <a href="{{url_for('download', page_id=page_id)}}" >{{workout.filename}}</a></li>
</ul>
<a href="{{ url_for('edit_log', page_id=page_id) }}" 
class="btn btn-info">Edit Wellness</a>

{% else %}
<form method="POST" enctype="multipart/form-data">
{{ workout_form.hidden_tag() }}
{{ workout_form.workout_type.label(class="form-label") }} <br>
{{ workout_form.workout_type()}} <br>
<div>--or--</div>
{{ workout_form.specify_other.label(class="form-label")}}<br>
{{ workout_form.specify_other }}<br><br>
{{ workout_form.soreness.label(class="form-label")}}<br>
{% for subfield in workout_form.soreness %}
<tr>
    <td>{{ subfield }}</td>
    <td>{{ subfield.label(class="form-label") }}</td>
</tr>
{% endfor %}<br><br>
{{ workout_form.intensity.label(class="form-label") }}<br>

{% for subfield in workout_form.intensity %}
<tr>
    <td>{{ subfield }}</td>
    <td>{{ subfield.label(class="form-label") }}</td>
</tr>
{% endfor %}<br><br>
{{ workout_form.file.label(class="form-label") }}<br>
{{ workout_form.file }}<br>

{{ workout_form.workout_log.label(class="form-label") }}<br>
{{ workout_form.workout_log }}<br><br>
{{  workout_form.submit2(class="btn btn-dark") }}
{% endif %}

</form>
</div>


{% endblock %}
