{% extends "base.html" %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Exercises</th>
        <th scope="col">Set Range</th>
        <th scope="col">Reps</th>
        <th scope="col">Weight</th>
      </tr>
    </thead>
    <tbody>
    {% for i in range(formatted_workout[0]| length) %}
    
      <tr>
        <th scope="row"> 
            {{formatted_workout[0][i]}}</th>
        <td>{{formatted_workout[1][i]}}</td>
        <td>{{formatted_workout[2][i]}}</td>
        <td>{{formatted_workout[3][i]}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}