@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



h5 {
    text-align: center;
}


.button-left {
    float: left;
    padding: 10px;
    display: flex;
 }
 .button-right{
    padding: 10px;
    float: right;
    display: flex;
    justify-content: flex-end;
 }

/* .workout-links{
    display: flex;
} */

 .right-link {
     justify-content: start;
 }

 .right-link{
    justify-content: flex-end;
 }
.radio-label{
    /* float: inline-start; */
    /* display: flex; */
    /* padding: 10px; */
    /* margin: 10px; */
    justify-content: start;
}
 .radio{
    float: inline-end;

 }
