@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



h5 {
    text-align: center;
}

.navbar {
    margin-bottom: 1em;
    padding: 1em;
}
.main-container {
    max-width: 1000px;

}

.radio-form {
    height: 130px;

}

 .log {
     height: 80px;
 }

 .inner-select {
    height: 125px;
 }

.text-area {
    width: 95%;
}

.button-left {
    float: left;
    padding: 10px;
    display: flex;
 }
 .button-right{
    padding: 10px;
    float: right;
    display: flex;
    justify-content: flex-end;
 }

 @media (max-width: 800px) {
    .radio-grouping {
        font-size: small;
            max-width: 350px;
            height: 250px;

        }
    .select {
        font-size: small;
            height: 30%;

        }



    .submit {
            text-align: right;
            height: 15%;
            margin-bottom: 5%;
        }

 }

  @media (min-width: 800px) {
      .radio-grouping {
          max-width: 350px;
          height: 280px;
      }

      .select {
          height: 30%;

      }

      .submit {
          text-align: right;
          height: 15%;
          margin-bottom: 5%;
      }

  }


.prompt {
    text-align: center;
}

 .right-link {
     justify-content: start;
 }

 .right-link{
    justify-content: flex-end;
 }
.radio-label{
    justify-content: start;
    text-align: left;
    margin-right: 3px;
}
 .radio{
    float: inline-end;
 }

 h6 {
     text-align: center;
 }

.tags {
    text-align: center;
}



 .carousel-inner {
    padding: 10px 45px 25px;
    text-align: center;
 }

.text {
    padding: 0px;
}

.carousel-indicators {
    margin-top: 10px;
}

.col-wrap {
    height: 100%;
}

.col-head {
    height: 14%;
}

.inner-col {
    height: 86%;
}

.container-bottom {
    margin-top: 25px;
}

 #carouselWeights {
    width: 100%;
 }
