@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

h5 {
  text-align: center;
}

.carousel-inner {
  padding: 0 45px 25px;
  text-align: center;
}

.radio {
  float: right;
}

.radio-form,
.log,
.select,
.radio-grouping {
  position: relative;
}

@media (min-width: 600px) {
  .hidden-br {
    display: none !important;
  }
}

.navbar {
  margin-bottom: 1em;
  padding: 1em;
}
.main-container {
  max-width: 1000px;
}

.inner-select {
  height: 150px;
}

.right-icon {
  position: absolute;
  right: 0;
  bottom: 0;
}

.text-area {
  width: 95%;
}

.button-left {
  float: left;
  padding: 10px;
  display: flex;
}
.button-right {
  padding: 10px;
  float: right;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .col-head {
    height: 8%;
  }

  .top-inner {
    height: 190px;
    font-size: small;
  }

  .inner-col {
    height: 86%;
  }

  .hidden-br {
    display: inline;
  }

  .radio-grouping {
    font-size: x-small;
    max-width: 350px;
    height: 275px;
  }

  .radio {
    font-size: xx-small;
  }

  .select {
    font-size: x-small;
    height: 190px;
    position: relative;
  }

  .both.select {
    height: 50px;
  }

  .primary {
    height: 100px;
    display: inline-block;
  }

  .inner-select {
    text-align: center;
  }

  .secondary {
    height: 75px;
    text-align: center;
  }

  .carousel-wrapper {
    font-size: x-small;
  }

  .carousel-inner {
    padding: 0 25px 25px;
    text-align: center;
  }

  /* .select.sub {
    height: 20%;
  } */

  /* .carousel-inner {
    width: 100%;
  } */

  .carousel-item {
    font-size: x-small;
    margin: 0px auto;
    position: relative;
  }

  .btn {
    font-size: x-small;
  }

  .radio-form {
    height: 200px;
  }

  .radio-form.sub {
    height: 70px;
  }

  .log {
    height: 50px;
    font-size: x-small;
  }

  .submit {
    text-align: right;
    height: 75px;
    padding-bottom: 5%;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .col-head {
    height: 14%;
  }

  .inner-col {
    height: 86%;
  }

  .top-inner {
    height: 190px;
    font-size: small;
  }

  .radio-grouping {
    font-size: small;
    max-width: 350px;
    height: 190px;
  }

  .select {
    font-size: small;
    height: 140px;
    position: relative;
  }

  .both.select {
    height: 50px;
  }

  .radio {
    font-size: x-small;
  }
  /* .select.sub {
    height: 20%;
  } */

  .btn {
    font-size: small;
  }

  .radio-form {
    height: 100px;
  }

  .radio-form.sub {
    height: 70px;
  }

  .log {
    height: 40px;
    font-size: small;
  }

  .submit {
    text-align: right;
    height: 55px;
    padding-bottom: 5%;
  }
}

@media (min-width: 800px) {
  .col-head {
    height: 14%;
  }

  .inner-col {
    height: 86%;
  }

  .top-inner {
    height: 240px;
  }

  .radio-grouping {
    max-width: 350px;
    height: 220px;
  }

  .radio {
    font-size: xx-small;
  }

  .select {
    height: 150px;
    position: relative;
  }

  .both.select {
    height: 50px;
  }

  /* .select.sub {
    height: 20%;
  } */

  .radio-form {
    height: 130px;
  }

  .radio-form.sub {
    height: 75px;
  }

  .log {
    height: 60px;
  }

  .log.sub {
    height: 80px;
  }

  .carousel-inner {
    font-size: small;
  }

  .submit {
    text-align: right;
    height: 70px;
    padding-bottom: 5%;
  }
}

.prompt {
  text-align: center;
}

.right-link {
  justify-content: start;
}

.right-link {
  justify-content: flex-end;
}
.radio-label {
  justify-content: start;
  text-align: left;
  margin-right: 3px;
}
/* .radio {
  float: inline-end;
} */

h6 {
  text-align: center;
}

.tags {
  text-align: center;
}

.text {
  padding: 0px;
}

/* .carousel-indicators {
    margin-top: 10px;
} */

.col-wrap {
  height: 100%;
}

.container-bottom {
  margin-top: 25px;
}

#carouselWeights {
  width: 100%;
}
