table {
    border-spacing: 15px;
}

/* body {
    font-family: 'Montserrat', sans-serif;
} */

hr {
    border: dotted;
    border-width: 4px 0 0 0;
    width: 8%;
    color: black;
    margin: 5px auto;
}


.create_template {
    text-align: center;
}

.ex-num {
    text-align: left;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}


.heading {
    text-align: center;
}

.weights-form {
    justify-content: left;
    float: right;
    text-align: left;
    margin: 5px;
    /* padding: 20px; */
}

.form-right {
    justify-content: left;
}

.form-left {
    float: left;
}

.table-block {
    display: inline-block;
    padding: 10px;
    justify-content: left;
}

.button-left {
    float: left;
    padding: 10px;
    display: flex;
}

.button-right {
    padding: 10px;
    float: right;
    display: flex;
}
